---
import type { Tracing } from 'node:trace_events';
import '../styles/global.css';
interface Props {
  title: string;
  back?: string; // Si necesitas botón de volver
  
  // Open Graph básicos
  description?: string;
  image?: string;
  url?: string;
  type?: string;
  
  // Open Graph opcionales
  siteName?: string;
  locale?: string;
  
  // Twitter Cards (recomendado)
  twitterCard?: 'summary' | 'summary_large_image' | 'app' | 'player';
  twitterCreator?: string;
  twitterSite?: string;
}

const { 
  title,
  back = false,
  
  // Open Graph
  description = 'Fufa Store - La belleza y el cuidado al alcance de tu mano',
  image = '/Logo.jpg',
  url = Astro.url.href,
  type = 'website',
  
  siteName = 'Fufa Store',
  locale = 'es_ES',
  
  // Twitter
  twitterCard = 'summary_large_image',
  twitterCreator = '@1nfinit0',
  twitterSite = '@1nfinit0',
} = Astro.props;

const currentYear = new Date().getFullYear();
---
<!doctype html>
<html lang="es ">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content={locale} />
		<title>{title}</title>
	</head>
	<body class="min-h-dvh flex flex-col justify-between">
		<header class="w-full bg-purple-600 p-4 flex justify-between position-sticky top-0 z-10">
				<div class="flex items-center ">
					<a href="/" class="text-white text-lg">{back}</a>
				</div>
				<a href="/" class="font-crafty text-white text-3xl">Fufa</a>
				<div class="flex items-center relative">
					<a href="/cart" class="text-white text-3xl">🛒</a>
					<span class="rounded-full bg-red-500 text-white px-2 absolute -bottom-1 -right-2">0</span>
				</div>
		</header>
		<main class="min-h-dvh bg-linear-to-b from-purple-300 via-purple-500 to-pink-500 flex flex-col items-center">
			<div class="w-full max-w-7xl flex flex-col items-center">
				<slot />
			</div>
		</main>
		<footer class="w-full bg-purple-600">
			<p class="text-center p-4 text-white">© {currentYear} Fufa. All rights reserved.</p>
		</footer>
	</body>
</html>
